<header th:fragment="headerMain">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Дом и точка</a></li>
        <li><a href="/star/" class="nav-link px-2 link-dark">Звезды и точка</a></li>
        <li><a href="/star_constell/" class="nav-link px-2 link-dark">Звезды и Созвездия</a></li>
        <li><a href="/planet/" class="nav-link px-2 link-dark">Планеты и точка</a></li>
        <li><a href="/meteor/" class="nav-link px-2 link-dark">Метеориты и точка</a></li>
        <li><a href="/meteors/add" class="nav-link px-2 link-dark">Метеориты и планеты</a></li>
        <li><a href="/many/add/" class="nav-link px-2 link-dark">Пролетающие</a></li>

        <li>
          <label  th:inline="text">Приветусики, [[${#httpServletRequest.remoteUser}]]😝!</label>
          <form th:action="@{/logout}" method="post">
            <input type="submit" value="Выход"/>
          </form>
        </li>

      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control" placeholder="Поиск и точка..." aria-label="Search">
      </form>

    </div>
  </div>
</header>

<header th:fragment="header_starMain">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Дом и точка</a></li>
        <li><a href="/star/" class="nav-link px-2 link-dark">Звезды и точка</a></li>

        <li><a href="/star/star-add/" class="nav-link px-2 link-dark">Добавление звезды</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control" placeholder="Поиск и точка..." aria-label="Search">
      </form>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://avatar.skype.com/v1/avatars/connie.endicott/public?size=l" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<header th:fragment="header_starsMain">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Дом и точка</a></li>
        <li><a href="/star_constell/" class="nav-link px-2 link-dark">Звезды и Созвездия</a></li>
        <li><a href="/star_constell/add/" class="nav-link px-2 link-dark">Добавление звезды</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control" placeholder="Поиск и точка..." aria-label="Search">
      </form>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://avatar.skype.com/v1/avatars/connie.endicott/public?size=l" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<header th:fragment="header_planetMain">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Дом и точка</a></li>
        <li><a href="/planet/" class="nav-link px-2 link-dark">Планеты и точка и точка</a></li>
        <li><a href="/planet/planet-add/" class="nav-link px-2 link-dark">Добавление планеты</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control" placeholder="Поиск и точка..." aria-label="Search">
      </form>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://avatar.skype.com/v1/avatars/connie.endicott/public?size=l" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<header th:fragment="header_meteorMain">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Дом и точка</a></li>
        <li><a href="/meteor/" class="nav-link px-2 link-dark">Метеориты и точка</a></li>
        <li><a href="/meteor/meteor-add/" class="nav-link px-2 link-dark">Добавление метеорита</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control" placeholder="Поиск и точка..." aria-label="Search">
      </form>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://avatar.skype.com/v1/avatars/connie.endicott/public?size=l" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>