<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Калькулятор с get</title>
</head>
<body>
    <h1>Калькулятор с get</h1>
    <form action="/Get" method="get"><br>
    <input type="number" name="num1_get" th:value="${num1_get}"><br>
        <label for="action">Выберите действие:</label>
    <select name="action" id="action2">
        <option value="plus">+</option>
        <option value="minus">-</option>
        <option value="multiply">*</option>
        <option value="divide">/</option>
    </select>
        <br>
            <input type="number" name="num2_get" th:value="${num2_get}">
        <br>
    <label>Получилось:</label>
    <label th:text="${num_answer_get}"></label><br>
    <button type="submit">Посчитать</button>

    </form>
    <form method="post" action="/Post">
        <input type="submit" value="Перейти в post"/>
    </form>
</body>
</html>